<div class="container-fluid">
    <input  class="offset-3 col-6 btn btn-primary" type="button" (click)="prueba()"  value="prueba">
    
    
    <div class="row">
        
        <p class="offset-3 col-3">Usuario </p> <input  class="col-3" type="text" [(ngModel)]="usuario.nombre" >
    </div>
    <div class="row">
        
        <p class="offset-3 col-3" >contraseña</p> <input class="col-3" type="password" [(ngModel)]="usuario.password" >
    </div>
    <div class="row">
        <input  class="offset-3 col-6 btn btn-primary" type="button" (click)="login()"  value="Ingresar">
        <a  class="offset-3 col-6 btn btn-primary" [routerLink]="'/principal/registro'" >registrar</a>        
        
    </div>
{{this.usuairos.length}} {{(this.usuairos| filtrarUsuarios :  valorfiltro ).length}}

    <div class="row">
        
        <p class="offset-3 col-3">filtro</p> <input  class="col-3" type="text" [(ngModel)]="valorfiltro" >
    
    </div>

    <div *ngFor="let turno of this.buscarDisponibles() | quitarusados: turnosusados">
            {{turno.fecha|date: 'dd/MM/yyy'}} - {{turno.hora}}
    </div> 

    <div *ngFor="let usuario of this.usuairos | filtrarUsuarios :  valorfiltro">
    
        <div class="row">
        {{usuario.nacimiento|date: 'EEEE, dd/MM/yyyy' }}
            <p class=" col-2">Usuario </p> <input  class="col-2" type="text" [(ngModel)]="usuario.usuario" >
            <p class=" col-2">Nombre </p> <input  class="col-2" type="text" [(ngModel)]="usuario.nombre" >
            <p class=" col-2">Apellido </p> <input  class="col-2" type="text" [(ngModel)]="usuario.apellido" >
        </div>
        <div class="row">
                
            <p class=" col-3"></p> 
        </div>
        
        

    </div>
    

</div>

